<div class="flex justify-center">
    <button routerLink="/" class="bg-[#65D0BD] py-2 px-12 mt-2 rounded-full text-white hover:bg-[#5dc3b0] hover:-translate-y-1 hover:scale-105 hover:duration-100">
        <p> < Inicio</p>
    </button>
</div>    
<div class="pt-3 flex justify-center">
    <!--<a href="http://www.freepik.com">Designed by pikisuperstar / Freepik</a>-->
    <img class="pt-5 w-full intermediate:w-5/12 laptop:2/4 rounded-3xl"
          alt="Formulario de contacto enviado"
          src="../../../assets/images/sent_contact.webp"
      />
</div>

