<div class="rounded-3xl bg-[#e5e5efda] w-2/4 h-full m-6 pb-6 pt-3 ml-auto mr-auto">
    <p id="registerFeedback"></p>
  <div>
    <h1 class="font-bold pt-7 px-10 text-3xl font text-[#27272a]">Iniciar sesión</h1>
    <form class="py-5 px-10">
      
      <div>
        <input placeholder="Email" class="w-full rounded-lg py-5 px-4 my-4 text-white bg-[#505151]" type="email" />
        <div>
          <div class="text-red-700">Email requerido.</div>
          <div class="text-red-700">Formato de mail no válido.</div>
        </div>
      </div>
      <div>
        <input placeholder="Password" class="w-full rounded-lg py-5 px-4 my-4 text-white bg-[#505151]" type="password"/>
        <div>
          <div class="text-red-700">Constraseña requerida.</div>
          <div class="text-red-700">
            La contraseña debe tener al menos 8 caracteres.
          </div>
        </div>
      </div>
      
      <div class="flex justify-center">
        <button class="bg-[#7552D8] py-3 px-20 mt-2 rounded-full text-white" type="submit">Iniciar sesión</button>
      </div>
    </form>
  </div>
</div>
  
