<div class="flex justify-center">
    <button (click)="goBack()" class="bg-[#65D0BD] py-2 px-12 mt-2 rounded-full text-white hover:bg-[#5dc3b0] hover:-translate-y-1 hover:scale-105 hover:duration-100">
        <p> < Volver</p>
    </button>
</div>    
<div class="ppt-3 flex justify-center">
    <!--<a href="http://www.freepik.com">Designed by Freepik</a>-->
    <img class="pt-5 w-full intermediate:w-5/12 laptop:2/4 rounded-3xl"
          alt="Buki Logo"
          src="../../../assets/images/under_construction.webp"
      />
</div>
