<header class="flex items-center h-28 border-b-2 px-2 justify-between mb-11">
    <a routerLink="/">
      <div class="flex">
      <img class="w-12 h-12 m-3"
          alt="Buki Logo"
          src="../assets/logo-blanco-low-resolution.png"
      />
    
      <img
          class="h-14 m-3"
          alt="Buki letras"
          src="../assets/buki-blanco-low.png"
      />
      </div>
    </a>

    <div *ngIf="showAuthSection" routerLink="/login">
     <a>
       <button class="">
         <div class="bg-white bg-opacity-30 py-2 px-12 m-3 rounded-full transition ease-in-out delay-75 hover:bg-[#666797] hover:-translate-y-1 hover:scale-105 hover:duration-150">
           <p class="text-white font-semibold">Iniciar sesión</p>
         </div>  
       </button>
     </a>
     <a routerLink="/product-form">
       <button class="">
         <div class="bg-white bg-opacity-30 py-2 px-12 m-3 rounded-full flex transition ease-in-out delay-75 hover:bg-[#666797] hover:-translate-y-1 scale-105 duration-150">
           <p class="text-white font-semibold">+ Sube tu arte</p>
         </div>  
       </button>
     </a>  
    </div>
    <div *ngIf="!showAuthSection">
      <a>
      <button class="">
        <div class="bg-white bg-opacity-30 py-2 px-12 m-3 rounded-full transition ease-in-out delay-75 hover:bg-[#666797] hover:-translate-y-1 hover:scale-105 hover:duration-150">
          <p class="text-white font-semibold">Mi perfil</p>
        </div>  
      </button>
    </a>
    <a routerLink="/product-form">
      <button class="">
        <div class="bg-white bg-opacity-30 py-2 px-12 m-3 rounded-full flex transition ease-in-out delay-75 hover:bg-[#666797] hover:-translate-y-1 scale-105 duration-150">
          <p class="text-white font-semibold">+ Sube tu arte</p>
        </div>  
      </button>
    </a>
  </div>

   </header> 