<header class="flex items-center h-28 border-b-2 px-2 justify-between mb-5 tablet:mb-11">
    <a routerLink="/">
      <div class="block intermediate:flex">
      <img class="w-16 intermediate:w-12 intermediate:h-12 intermediate:m-3"
          alt="Buki Logo"
          src="../assets/logo-blanco-low-resolution.png"
      />
    
      <img
          class=" h-4 mobile:h-5 mt-2 intermediate:h-14 intermediate:m-3"
          alt="Buki letras"
          src="../assets/buki-blanco-low.png"
      />
      </div>
    </a>

    <div *ngIf="!showAuthSection" routerLink="/login" class="tablet:flex">
     <a>
       <button class="text-xs mobile:text-base float-right ">
         <div class="py-2 px-6 pl-8 m-2 intermediate:py-2 intermediate:px-12 intermediate:m-3 bg-white bg-opacity-30 rounded-full transition ease-in-out delay-75 hover:bg-[#9294f1] hover:-translate-y-1 hover:scale-105 hover:duration-150">
           <p class="text-white font-bold">Iniciar sesión</p>
         </div>  
       </button>
     </a>
     <a routerLink="/product-form">
       <button class="text-xs float-right mobile:text-base">
         <div class="py-2 px-6 m-2 intermediate:py-2 intermediate:px-12 intermediate:m-3 bg-white bg-opacity-30 rounded-full flex transition ease-in-out delay-75 hover:bg-[#9294f1] hover:-translate-y-1 scale-105 duration-150">
           <p class="text-white font-bold">+ Sube tu arte</p>
         </div>  
       </button>
     </a>  
    </div>
    <div *ngIf="showAuthSection" class="flex items-center">
    <div>  
      <a [routerLink]="getUserRoute()">
        <button class="text-xs mobile:text-sm intermediate:text-base float-right">
          <div class="py-2 pr-11 pl-10 m-2 intermediate:py-2 intermediate:px-12 intermediate:m-3 bg-white bg-opacity-30 rounded-full flex transition ease-in-out delay-75 hover:bg-[#9294f1] hover:-translate-y-1 scale-105 duration-150">
            <p class="text-white font-bold">Mi perfil</p>
          </div>  
        </button>
      </a>
      <a routerLink="/product-form">
        <button class="text-xs mobile:text-sm intermediate:text-base float-right">
          <div class="py-2 px-6 m-2 intermediate:py-2 intermediate:px-12 intermediate:m-3 bg-white bg-opacity-30 rounded-full flex transition ease-in-out delay-75 hover:bg-[#9294f1] hover:-translate-y-1 scale-105 duration-150">
            <p class="text-white font-bold">+ Sube tu arte</p>
          </div>  
        </button>
      </a>
    </div>
      <a routerLink="/">
        <button class="" (click)="logout()">
          <div class="flex bg-white bg-opacity-30 p-2 mobile:py-3 mobile:px-4 mobile:pb-4 mobile:m-3 rounded-full transition ease-in-out delay-75 hover:bg-[#9294f1] hover:-translate-y-1 scale-105 duration-150">
            <svg class="fill-white h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/></svg>
          </div>  
        </button>
      </a>
    
  </div>

   </header> 