<div class="flex justify-center">
  <button (click)="goBack()" class="bg-[#65D0BD] py-1 px-8 intermediate:py-2 intermediate:px-12 mt-2 rounded-full text-white">
      <p> < Volver</p>
  </button>
</div>
<div class="flex justify-center">
    <div class="w-11/12 rounded-3xl bg-[#e5e5efda] intermediate:w-2/4 m-6 mt-3 pb-6 pt-3 ml-auto mr-auto">
      <p id="registerFeedback"></p>
    <div>
      <h1 class="text-2xl font-bold pt-7 px-10 intermediate:text-3xl font text-[#27272a]">Enviar un mensaje</h1>
      <form [formGroup]="contactForm" (ngSubmit)="saveMessage()" type="text" class="py-5 px-10">
        <div class="mb-6">
          <label class="block text-sm font-bold intermediate:text-base"> Asunto </label>
          <input [formControl]="subject" class="w-full intermediate:w-3/4 text-sm intermediate:text-base mt-2 text-white border rounded-xl  py-4 px-5 bg-[#505151]" type="text" placeholder="Escribe aquí el asunto..." required>
          <div *ngIf="subject.errors && (subject.dirty)" [ngClass]="'error'">
            <div *ngIf="subject.errors['required']" class="text-red-700">Se requiere un asunto.</div>
            <div *ngIf="subject.errors['minlength']" class="text-red-700">El asunto debe tener al menos 3 caracteres.</div>
            <div *ngIf="subject.errors['maxlength']" class="text-red-700">El asunto puede contener como máximo 255 caracteres.</div>
          </div>
        </div>
        <div class="">
          <label class="block text-sm intermediate:text-base font-bold"> El mensaje </label>
          <textarea [formControl]="message" type="text" placeholder="Escribe aquí tu mensaje..." class="text-sm intermediate:text-base mt-2 text-white border rounded-xl w-full py-4 px-5 bg-[#505151]" rows="6" required></textarea>
          <div *ngIf="message.errors && (message.dirty)" [ngClass]="'error'">
            <div *ngIf="message.errors['required']" class="text-red-700">Se requiere un mensaje.</div>
            <div *ngIf="message.errors['minlength']" class="text-red-700">El mensaje debe tener al menos 10 caracteres.</div>
            <div *ngIf="message.errors['maxlength']" class="text-red-700">El mensaje puede contener como máximo 25 caracteres.</div>
          </div>
        </div>
        <div class="flex justify-center">
          <button [disabled]="contactForm.invalid" routerLink='/sent' class="px-12 bg-[#7552D8] py-3 intermediate:px-20 mt-2 rounded-full text-white hover:bg-[#9294f1]" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
  
