<div class="block laptop:flex">
    <div class="flex w-full intermediate:w-4/5 laptop:block rounded-3xl p-2 laptop:p-1 bg-[#e5e5efda] mobile:p-8 laptop:w-1/6 laptop:h-96 laptop:m-6 laptop:mb-10 laptop:py-12">
        <div class="flex justify-center items-center w-1/2 intermediate:w-3/5 laptop:w-full">
            <img class="h-24 intermediate:h-32 m-1 laptop:mx-3 rounded-3xl object-cover "
            alt="Foto de perfil"
            [src]="user.profile_image"
            />
        </div>
        <div class="mx-3">
            <div class="font-bold text-xl py-4">
                <h2 class="text-[#6948EF] text-center">{{user.name.toUpperCase()}}</h2>
            </div>
                <p class="text-center">{{user.zone}}</p>
            <div class="font-bold my-3">
                    <div *ngIf="(user.name != connectedUserName)" class="flex justify-center">
                        <button routerLink="/contact" class="my-3 px-3 py-1 intermediate:py-2 intermediate:px-6 bg-[#7552D8]  mt-2 rounded-full text-white hover:bg-[#9294f1] hover:-translate-y-1 hover:scale-105 hover:duration-100" type="submit">Contactar</button>
                    </div>
                    <div *ngIf="(user.name == connectedUserName)" class="flex justify-center w-full">
                        <button [routerLink]="'/profile/edit/' + connectedUserName" class="my-3 px-3 py-1 intermediate:py-2 intermediate:px-6 bg-[#7552D8]  mt-2 rounded-full text-white hover:bg-[#9294f1] hover:-translate-y-1 hover:scale-105 hover:duration-100" type="submit">Editar perfil</button>
                    </div>
                   
            </div>
        </div>    
    </div>    
    <div class="w-full text-sm p-3 mobile:text-base rounded-3xl mt-4 mobile:p-6 bg-[#e5e5efda] laptop:w-4/5 laptop:m-6 laptop:h-2/3 mb-10">
        <h2 class="py-4 border-4 border-[#65D0BD] rounded-full intermediate:text-2xl text-center font-bold text-[#372e5d]">Todos los productos de {{user.name}}</h2>
        <div class="flex flex-wrap tablet:py-4 laptop:p-4 fade-in justify-center">  
            <div class="m-2 border-2 border-[#65D0BD] w-4/5 animate__animated animate__bounce animate__fadeIn rounded-3xl bg-[#e5e5efda] mobile:w-5/12 intermediate:w-1/4 intermediate:m-4 desktop:w-1/5" 
            *ngFor="let product of user.products | paginate: { itemsPerPage: 10, currentPage: p }" [routerLink]="['/product', product.id]">
                <a class="block rounded-3xl cursor-pointer">
                    <div class="flex justify-center">
                        <img class="w-full rounded-3xl h-40 object-cover laptop:h-72"
                        [src]="product.imageURL"
                        [alt]="'Imagen de ' + product.title"
                        />
                    </div>
                    <div class="px-2 pt-3 font-extrabold text-xl intermediate:p-4">
                        <h2 class="text-sm text-[#313032] tablet:text-base laptop:text-lg desktop:text-xl">{{product.title}}</h2>
                    </div>
                    <div class="w-full p-2 flex font-bold my-2 justify-between intermediate:p-4 intermediate:pb-6">
                        <div class="w-full flex items-center">
                            <div>
                                <p class="pr-2 text-base tablet:text-base laptop:text-lg laptop:pr-5 desktop:text-xl">{{product.price}}</p>
                            </div>
                            <div>
                                <svg class="fill-[#313032] h-4 intermediate:h-5 desktop:h-7" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48.1 240c-.1 2.7-.1 5.3-.1 8v16c0 2.7 0 5.3 .1 8H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H60.3C89.9 419.9 170 480 264 480h24c17.7 0 32-14.3 32-32s-14.3-32-32-32H264c-57.9 0-108.2-32.4-133.9-80H256c17.7 0 32-14.3 32-32s-14.3-32-32-32H112.2c-.1-2.6-.2-5.3-.2-8V248c0-2.7 .1-5.4 .2-8H256c17.7 0 32-14.3 32-32s-14.3-32-32-32H130.1c25.7-47.6 76-80 133.9-80h24c17.7 0 32-14.3 32-32s-14.3-32-32-32H264C170 32 89.9 92.1 60.3 176H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H48.1z"/></svg>        
                            </div>
                        </div>
                        <div class="intermediate:flex">    
                            <a [routerLink]="'/product-form/' + product.id">
                                <button *ngIf="(product.author_name == connectedUserName)" class="rounded-full p-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-[#7D7EBB] w-5 intermediate:w-6 desktop:w-7 hover:fill-[#5c5d95]" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"/></svg>
                                </button>
                            </a>
                            <a href="#">
                                <button *ngIf="(product.author_name == connectedUserName)" (click)="deleteProductById(product.id)" class="rounded-full p-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-[#7D7EBB] w-4 intermediate:w-5 desktop:w-6 hover:fill-[#5c5d95]" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                                </button>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div> 
        <div class="mt-4">
            <pagination-controls class="my-pagination flex mobile:font-bold justify-center text-xs mobile:text-sm text-white mx-0" (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
        </div>                  
    </div>    
</div>   