<div class="block laptop:flex">    
    <div class="flex w-full intermediate:w-1/2 text-sm laptop:block rounded-3xl p-3 bg-[#e5e5efda] intermediate:text-base mobile:p-8 laptop:w-1/6 laptop:h-96 laptop:m-6 laptop:mb-10 laptop:py-12">
        <div class="flex justify-center w-1/2 intermediate:w-full">
            <img class="h-24 intermediate:h-32 laptop:h-36 m-1 laptop:mx-3 rounded-3xl object-cover"
            alt="Image of teddy bears"
            src="../../../../assets/images/profile.png"
            />
        </div>
        <div class="text-xs intermediate:text-base mx-3">
            <div class="font-extrabold text-xl py-4">
                <h2 class="text-[#6948EF]">{{user.name}}</h2>
            </div>
            <div class="font-semibold my-3">
                <div class="flex" routerLink="/contact">
                    <p class="pr-3">{{user.email}}</p>
                    <svg class="fill-[#6948EF]"xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                </div>
                <div class="flex">
                    <p class="pr-3">{{user.zone}}</p>
                    <svg class="fill-[#6948EF]" xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                </div>    
            </div>
        </div>    
    </div>    
    <div class="w-full text-sm p-3 mobile:text-base rounded-3xl mt-4 laptop:rounded-xl mobile:p-6 bg-[#e5e5efda] laptop:w-2/3 laptop:m-6 laptop:h-2/3 mb-10">
        <div class="flex flex-wrap tablet:py-4 laptop:p-4 fade-in justify-center">  
            <div class="m-2 border-2 border-[#65D0BD] w-4/5 animate__animated animate__bounce animate__fadeIn rounded-3xl bg-[#e5e5efda] mobile:w-1/4 intermediate::w-1/5 desktop:w-1/6 intermediate:m-4" 
            *ngFor="let product of user.products | paginate: { itemsPerPage: 10, currentPage: p }" [routerLink]="['/product', product.id]">
                <a class="block rounded-3xl">
                    <div class="flex justify-center">
                        <img class="w-full rounded-3xl h-40 w-intermediate:h-60 object-cover laptop:h-72"
                        [src]="product.imageURL"
                        [alt]="'Image of ' + product?.title"
                        />
                    </div>
                    <div class="px-2 pt-3 font-extrabold text-xl intermediate:p-4">
                        <h2 class="text-sm text-[#313032] tablet:text-base laptop:text-lg desktop:text-xl">{{product.title}}</h2>
                    </div>
                    <div class="w-full p-2 flex font-semibold my-3 justify-between intermediate:p-4 intermediate:pb-8">
                        <div class="w-full flex items-center">
                            <div>
                                <p class="pr-2 text-base tablet:text-base laptop:text-lg laptop:pr-5 desktop:text-xl">{{product.price}}</p>
                            </div>
                            <div>
                                <svg class="fill-[#313032] h-4 intermediate:h-5 desktop:h-7" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48.1 240c-.1 2.7-.1 5.3-.1 8v16c0 2.7 0 5.3 .1 8H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H60.3C89.9 419.9 170 480 264 480h24c17.7 0 32-14.3 32-32s-14.3-32-32-32H264c-57.9 0-108.2-32.4-133.9-80H256c17.7 0 32-14.3 32-32s-14.3-32-32-32H112.2c-.1-2.6-.2-5.3-.2-8V248c0-2.7 .1-5.4 .2-8H256c17.7 0 32-14.3 32-32s-14.3-32-32-32H130.1c25.7-47.6 76-80 133.9-80h24c17.7 0 32-14.3 32-32s-14.3-32-32-32H264C170 32 89.9 92.1 60.3 176H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H48.1z"/></svg>        
                            </div>
                        </div>    
                            <div *ngIf="product?.is_customable" class="rounded-full p-2 bg-[#313032]">
                                <svg class="fill-[#65D0BD] w-4 intermediate:w-5 desktop:w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M469.3 19.3l23.4 23.4c25 25 25 65.5 0 90.5l-56.4 56.4L322.3 75.7l56.4-56.4c25-25 65.5-25 90.5 0zM44.9 353.2L299.7 98.3 413.7 212.3 158.8 467.1c-6.7 6.7-15.1 11.6-24.2 14.2l-104 29.7c-8.4 2.4-17.4 .1-23.6-6.1s-8.5-15.2-6.1-23.6l29.7-104c2.6-9.2 7.5-17.5 14.2-24.2zM249.4 103.4L103.4 249.4 16 161.9c-18.7-18.7-18.7-49.1 0-67.9L94.1 16c18.7-18.7 49.1-18.7 67.9 0l19.8 19.8c-.3 .3-.7 .6-1 .9l-64 64c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l64-64c.3-.3 .6-.7 .9-1l45.1 45.1zM408.6 262.6l45.1 45.1c-.3 .3-.7 .6-1 .9l-64 64c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l64-64c.3-.3 .6-.7 .9-1L496 350.1c18.7 18.7 18.7 49.1 0 67.9L417.9 496c-18.7 18.7-49.1 18.7-67.9 0l-87.4-87.4L408.6 262.6z"/></svg>
                            </div>
                    </div>
                </a>
            </div>
        </div> 
        <pagination-controls (pageChange)="p = $event" class="my-pagination flex font-semibold justify-center" previousLabel="Previa"
                      nextLabel="Siguiente"></pagination-controls>    
    </div>    
</div>   