<div class="rounded-3xl bg-[#e5e5efda] w-2/4 h-2/3 m-6 pb-6 pt-3 ml-auto mr-auto">
    <p id="registerFeedback"></p>
  <div>
    <h1 class="font-bold pt-7 px-10 text-3xl font text-[#27272a]">Crea una cuenta</h1>
    <form class="py-5 px-10">
      <div class="">
        <input placeholder="Escribe aquí tu mensaje..." class="w-full h-full rounded-lg py-5 px-4 my-4 text-white bg-[#505151]" type="text"/>
      </div>
      <div class="flex justify-center">
        <button class="bg-[#7552D8] py-3 px-20 mt-2 rounded-full text-white" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>
  
