<div class="pb-16 px-2 intermediate:px-6 text-justify">
    <div class="flex justify-center">
        <button routerLink="/" class="bg-[#65D0BD] py-2 px-6 intermediate:px-12 mt-2 rounded-full text-white m-4 hover:bg-[#5dc3b0] hover:-translate-y-1 hover:scale-105 hover:duration-100">
            <p>Home</p>
        </button>
        <button (click)="goBack()" class="bg-[#65D0BD] py-2 px-6 intermediate:px-12 mt-2 rounded-full text-white m-4 hover:bg-[#5dc3b0] hover:-translate-y-1 hover:scale-105 hover:duration-100">
            <p> < Atrás</p>
        </button>
    </div>    

    <div class="flex items-center justify-center">
        <img class="pt-3 h-32 intermediate:h-72"
        alt="Banner sobre nosotros con elementos coloridos decorativos"
        src="../../../assets/images/banner_about_us.webp"
    />
    <!-- <a href="http://www.freepik.com">Designed by Freepik</a> -->
    </div>
    <div class="flex flex-wrap justify-center text-lg">

        <div class="p-6 m-3 mt-10 bg-[#4ed6b4d8] rounded-xl rotate-2 w-full intermediate:px-7 intermediate:py-8 tablet:1/2 laptop:w-1/4 intermediate:m-14 shadow-2xl">
            <h2 class="intermediate:font-bold pb-3 text-xl text-center text-[#ffffff]">Esto es Buki, donde la magia de la artesanía cuenta su propia historia.</h2>

            <p>Si estas leyendo esto, es porque entiendes que la autenticidad es un viaje, y que Buki es el destino perfecto para sumergirte en un nuevo mundo
                 lleno de obras únicas. Lo más importante para nosotros es la conexión entre el creador y el cliente, y por eso, cada compra en Buki es un acto
                  de apoyo a los artesanos que han dedicado su tiempo y habilidades para dar vida a algo especial. </p>
        </div>
        <div class="p-6 m-3 mt-10 bg-[#e17be8d6] rounded-xl -rotate-2 w-full intermediate:px-7 intermediate:py-8 tablet:1/2 laptop:w-1/4 intermediate:m-14 shadow-2xl">
            <h2 class="intermediate:font-bold pb-3 text-xl text-center text-[#ffffff]">Más que comprar, es experimentar.</h2>

            <p>Buki podría ser tu rincón favorito. Aquí puedes sentir la emoción de descubrir algo único e irrepetible. También puedes vivir esa conexión especial
                 que solo se encuentra en los productos auténticos. Desde la idea principal, hasta convertirnos en un hogar virtual para los amantes de la artesanía, 
                 hemos estado intentado llenar las máximas vidas posibles, con magia de encontrar el artículo ideal para ti.</p>
        </div>
        <div class="p-6 m-3 mt-10 bg-[#4493e7cf] rounded-xl rotate-2 w-full intermediate:px-7 intermediate:py-8 tablet:1/2 laptop:w-1/4 intermediate:m-14 shadow-2xl">
            <h2 class="font-normal intermediate:font-bold pb-3 text-xl text-center text-[#ffffff]">La clave está en los detalles.</h2>

            <p class="text-justify">Nuestra plataforma es un reflejo de la actitud positiva y la creatividad que buscamos en cada rincón. 
            Así como tu temazo favorito, Buki es una melodía de historias creativas y productos excepcionales que te harán sonreír. 
            Desde elegantes joyas hasta piezas decorativas que transformarán tu hogar, cada producto es una nota en nuestra sinfonía de autenticidad.</p>
        </div>
        <div class="p-6 m-3 mt-10 bg-[#ebce2bd1] rounded-xl -rotate-2 w-full intermediate:px-7 intermediate:py-8 tablet:1/2  laptop:w-1/4 intermediate:m-14 shadow-2xl">
            <h2 class="font-normal intermediate:font-bold pb-3 text-xl text-center text-[#ffffff]">Nuestros clientes ya lo dicen...</h2>

            <p> <i class="text-[#33333a]">"Cada producto es único, y cada compra es una experiencia llena de emoción. Buki ha convertido mi búsqueda de productos
                 artesanales en un viaje fascinante y sorprendentemente fácil. 
            ¡Gracias por alegrar mis días!"<br></i>
            - Cliente Aventurero</p>
        </div>
        <div class="p-6 m-3 mt-10 bg-[#da7676d8] rounded-xl rotate-2 w-full intermediate:px-7 intermediate:py-8 tablet:1/2  laptop:w-1/4 intermediate:m-14 shadow-2xl">
            <h2 class="font-normal intermediate:font-bold pb-3 text-xl text-center text-[#ffffff]">¡Únete a nuestra aventura!</h2>

            <p>Si lo que buscas más que una simple compra, únete a Buki.</p><br>
            <p class="text-lg text-center">¡Te esperamos con los brazos abiertos! :)</p>  
        </div>
    </div>
</div>



