<div class="pb-16 px-16 text-justify">

    <div class="flex items-center justify-center">
        <img class="pt-3 h-72"
        alt="Banner sobre nosotros con elementos coloridos decorativos"
        src="../../../assets/images/banner_about_us.webp"
    />
    <!-- <a href="http://www.freepik.com">Designed by Freepik</a> -->
    </div>
    <div class="flex flex-wrap justify-center">

        <div class="px-7 pt-8 bg-[#4ed6b4d8] rounded-xl rotate-2 w-1/4 m-14 shadow-2xl">
            <h2 class="font-bold pb-3 text-xl text-center text-[#ffffff]">Esto es Buki, donde la magia y la artesanía cuentan su propia historia.</h2>

            <p>Si has llegado aquí, es porque entiendes que la autenticidad es un viaje, y Buki es el destino perfecto para sumergirte en ese viaje
                 lleno de tesoros artesanales. Buscamos en la conexión entre el creador y el cliente, por eso cada compra es un acto de apoyo a los artesanos
                  que han dedicado su tiempo y habilidades para dar vida a algo especial. </p>
        </div>
        <div class="px-7 pt-8 mx-10 bg-[#e17be8d6] rounded-xl -rotate-2 w-1/4 m-14 shadow-2xl">
            <h2 class="font-bold pb-3 text-xl text-center font text-[#ffffff]">Más que comprar, es experimentar.</h2>

            <p>Buki puede ser tu rincón favorito: aquí puedes sentir la emoción de descubrir algo único, y también esa conexión especial que solo se encuentra en los productos auténticos. 
            Desde la idea principal hasta convertirnos en un hogar virtual para los amantes de la artesanía, hemos estado llenando vidas con la magia de las historias artesanales.</p>
        </div>
        <div class="px-7 py-8 bg-[#4493e7cf] rounded-xl rotate-2 w-1/4 m-14 shadow-2xl">
            <h2 class="font-bold pb-3 text-xl text-center text-[#ffffff]">Explora y descubre, la clave está en los detalles.</h2>

            <p class="text-justify">Nuestra plataforma es un reflejo de la actitud positiva y la creatividad que buscamos en cada rincón del mundo artesanal. 
            Así como tu temazo favorito, Buki es una melodía de historias creativas y productos excepcionales que te harán sonreír. 
            Desde elegantes joyas hasta piezas decorativas que transformarán tu hogar, cada producto es una nota en nuestra sinfonía de autenticidad.</p>
        </div>
        <div class="px-7 pt-8 bg-[#ebce2bd1] rounded-xl -rotate-2 w-1/4 m-14 shadow-2xl">
            <h2 class="font-bold pb-3 mx-10 text-xl text-center text-[#ffffff]">Nuestros clientes ya lo dicen...</h2>

            <p> <i class="text-[#33333a]">"Cada producto es una joya única, y cada compra es una experiencia llena de emoción. Buki ha convertido mi búsqueda de productos artesanos en un viaje fascinante. 
            ¡Gracias por alegrar mis días!"</i>
            - Cliente Aventurero</p>
        </div>
        <div class="px-7 py-8 bg-[#e56565d8] rounded-xl rotate-2 w-1/4 m-14 shadow-2xl">
            <h2 class="font-bold pb-3 text-xl text-center text-[#ffffff]">¡Únete a nuestra aventura!</h2>

            <p>Si lo que buscas más que una simple compra, únete a Buki. 
            Descubre, explora y conecta con la autenticidad que solo los productos artesanos pueden ofrecer.</p><br>
            <p class="text-lg text-center">¡Bienvenidx a Buki! :)</p>
        </div>
    </div>
</div>



