<div class="flex justify-center">
  <div class="rounded-3xl bg-[#e5e5efda] w-full m-2 pb-2 intermediate:w-1/4 h-full intermediate:m-6 intermediate:pb-6 pt-3 ml-auto mr-auto">
    <p id="registerFeedback"></p>
    <div>
      <h1 class="font-bold pt-7 px-10 text-3xl font text-[#27272a]">Iniciar sesión</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="pt-5 px-10">
        <div>
          <input placeholder="Email" [formControl]="email" class="w-full rounded-lg py-5 px-4 my-4 text-white bg-[#505151]" type="email" />
          <div *ngIf="email.errors" [ngClass]="'error'">
            <div *ngIf="email.errors['required']" class="text-red-700">Se requiere un mail.</div>
            <div *ngIf="email.errors['pattern']" class="text-red-700">Formato de mail no válido.</div>
          </div>
        </div>
        <div>
          <input placeholder="Password" [formControl]="password" class="w-full rounded-lg py-5 px-4 my-4 text-white bg-[#505151]" type="password"/>
          <div *ngIf="password.errors" [ngClass]="'error'">
            <div *ngIf="password.errors['required']" class="text-red-700">Se requiere una contraseña.</div>
            <div *ngIf="password.errors['minlength']" class="text-red-700">La contraseña debe tener al menos 8 caracteres.</div>
            <div *ngIf="password.errors['maxlength']" class="text-red-700">La contraseña puede contener como máximo 16 caracteres.</div>
          </div>
        </div> 
        <div class="flex justify-center pt-8">
          <button class="bg-[#7552D8] py-3 px-14 mt-2 rounded-full text-white" type="submit">Iniciar sesión</button>
        </div>
        <div class="flex justify-center">
          <button routerLink="/register" class="bg-[#7552D8] py-3 px-16 mt-2 rounded-full text-white" type="submit">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div> 
