<div class="flex flex-wrap tablet:py-6 laptop:p-6 fade-in justify-center">
    <div class="border-2 border-[#1f1f21da] w-2/5 animate__animated animate__bounce animate__fadeIn rounded-3xl bg-[#e5e5efda] tablet:w-1/4 laptop:w-1/5 desktop:w-1/6 m-4" *ngFor="let product of products" [routerLink]="['/product', product.id]">
        <a class="block rounded-3xl">
            <div class="flex justify-center">
                <img class="w-full rounded-3xl h-40 w-intermediate:h-60 object-cover laptop:h-72"
                [src]="product.imageURL"
                [alt]="'Image of ' + product?.title"
                />
            </div>
            <div class="font-extrabold text-xl p-4">
                <h2 class="text-sm text-[#313032] tablet:text-base laptop:text-lg desktop:text-xl">{{product.title}}</h2>
            </div>
            <div class="flex font-semibold my-3 justify-between p-4 pb-8">
                <div class="rounded-full p-2 bg-[#313032]">
                    <svg class="fill-[#65D0BD] w-5 intermediate:w-6 desktop:w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M469.3 19.3l23.4 23.4c25 25 25 65.5 0 90.5l-56.4 56.4L322.3 75.7l56.4-56.4c25-25 65.5-25 90.5 0zM44.9 353.2L299.7 98.3 413.7 212.3 158.8 467.1c-6.7 6.7-15.1 11.6-24.2 14.2l-104 29.7c-8.4 2.4-17.4 .1-23.6-6.1s-8.5-15.2-6.1-23.6l29.7-104c2.6-9.2 7.5-17.5 14.2-24.2zM249.4 103.4L103.4 249.4 16 161.9c-18.7-18.7-18.7-49.1 0-67.9L94.1 16c18.7-18.7 49.1-18.7 67.9 0l19.8 19.8c-.3 .3-.7 .6-1 .9l-64 64c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l64-64c.3-.3 .6-.7 .9-1l45.1 45.1zM408.6 262.6l45.1 45.1c-.3 .3-.7 .6-1 .9l-64 64c-6.2 6.2-6.2 16.4 0 22.6s16.4 6.2 22.6 0l64-64c.3-.3 .6-.7 .9-1L496 350.1c18.7 18.7 18.7 49.1 0 67.9L417.9 496c-18.7 18.7-49.1 18.7-67.9 0l-87.4-87.4L408.6 262.6z"/></svg>
                </div>
                <div class="flex">
                    <div>
                        <p class="pr-2 text-base tablet:text-base laptop:text-lg laptop:pr-5 desktop:text-xl">{{product.price}}</p>
                    </div>
                    <div>
                        <svg class="fill-[#313032] h-5 intermediate:h-6 desktop:h-8" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48.1 240c-.1 2.7-.1 5.3-.1 8v16c0 2.7 0 5.3 .1 8H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H60.3C89.9 419.9 170 480 264 480h24c17.7 0 32-14.3 32-32s-14.3-32-32-32H264c-57.9 0-108.2-32.4-133.9-80H256c17.7 0 32-14.3 32-32s-14.3-32-32-32H112.2c-.1-2.6-.2-5.3-.2-8V248c0-2.7 .1-5.4 .2-8H256c17.7 0 32-14.3 32-32s-14.3-32-32-32H130.1c25.7-47.6 76-80 133.9-80h24c17.7 0 32-14.3 32-32s-14.3-32-32-32H264C170 32 89.9 92.1 60.3 176H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H48.1z"/></svg>        
                    </div>
                </div>    
            </div>
        </a>
    </div>    
</div>    