<div class="rounded-3xl bg-[#e5e5efda] w-2/4 h-full m-6 pb-6 pt-3 ml-auto mr-auto">
    <p id="registerFeedback"></p>
  <div>
    <h1 class="font-bold pt-7 px-10 text-3xl font text-[#27272a]">Crea una cuenta</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="py-5 px-10">
      <div class="">
        <input placeholder="Alias" [formControl]="name"  type="text" class="w-full rounded-lg py-5 px-4 my-4 text-white bg-[#505151]"/>
        <div *ngIf="name.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="name.errors['required']" class="text-red-700">Se requiere un nombre.</div>
          <div *ngIf="name.errors['minlength']" class="text-red-700">El nombre debe tener al menos 5 caracteres.</div>
          <div *ngIf="name.errors['maxlength']" class="text-red-700">El nombre puede contener como máximo 25 caracteres.</div>
        </div>
      </div>
      <div>
        <input placeholder="Email" [formControl]="email" type="email" class="w-full rounded-lg py-5 px-4 my-4 text-white bg-[#505151]"/>
        <div *ngIf="email.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="email.errors['required']" class="text-red-700">Se requiere un mail.</div>
          <div *ngIf="email.errors['pattern']" class="text-red-700">Formato de mail no válido.</div>
        </div>
      </div>
      <div>
        <input placeholder="Contraseña" [formControl]="password" class="w-full rounded-lg py-5 px-4 my-4 text-white bg-[#505151]" type="password"/>
        <div *ngIf="password.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="password.errors['required']" class="text-red-700">Se requiere una contraseña.</div>
          <div *ngIf="password.errors['minlength']" class="text-red-700">La contraseña debe tener al menos 8 caracteres.</div>
          <div *ngIf="password.errors['maxlength']" class="text-red-700">La contraseña puede contener como máximo 16 caracteres.</div>
        </div>
      </div>
      <div>
        <input placeholder="Confirma contraseña" [formControl]="password_confirmation" class="w-full rounded-lg py-5 px-4 my-4 text-white bg-[#505151]" type="password"/>
        <div *ngIf="password.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="password.errors['required']" class="text-red-700">Se requiere la confirmación de la contraseña.</div>
          <div *ngIf="password.errors['minlength']" class="text-red-700">La confirmación debe tener al menos 8 caracteres.</div>
          <div *ngIf="password.errors['maxlength']" class="text-red-700">La confirmación puede contener como máximo 16 caracteres.</div>
        </div>
      </div>
      <div>
        <input placeholder="Población" [formControl]="zone" class="w-full rounded-lg py-5 px-4 my-4 text-white bg-[#505151]" type="text"/>
        <div *ngIf="zone.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="zone.errors['required']" class="text-red-700">Se requiere una ciudad.</div>
          <div *ngIf="zone.errors['minlength']" class="text-red-700">La contraseña debe tener al menos 2 caracteres.</div>
          <div *ngIf="zone.errors['maxlength']" class="text-red-700">La contraseña puede contener como máximo 50 caracteres.</div>
        </div>
      </div>
      <div class="flex justify-center">
        <button class="bg-[#7552D8] py-3 px-20 mt-2 rounded-full text-white" type="submit">Registrarse</button>
      </div>
    </form>
  </div>
</div>
  
